torch
transformers
fastapi
openai
#uvicorn
numpy
scipy
#pandas
accelerate
datasets
#git+https://github.com/evalperf/evalperf.git
vllm
#notebook 
#jupyterlab 
#ipywidgets
flash-attn
#faiss_gpu
#sentence_transformers
tensorboard
